name: Main

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6'
  workflow_dispatch:

jobs:
  main:
    strategy:
      matrix:
        image:
          - macos-latest
          - ubuntu-latest
          - ubuntu-24.04
          - windows-latest
      fail-fast: false
    runs-on: ${{ matrix.image }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create output directory # TODO: Remove after https://github.com/ForNeVeR/ChangelogAutomation/issues/10
        shell: pwsh
        run: New-Item -Type Directory ./test-results

      - name: Test Markdown
        uses: ./
        with:
          input: ./test-data/CHANGELOG.md
          output: ./test-results/section.md
      - name: Test plain text
        uses: ./
        with:
          input: ./test-data/CHANGELOG.md
          format: PlainText
          output: ./test-results/section.txt

      - name: Verify test results
        shell: pwsh
        run: ./scripts/verify.ps1
